body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 8px;
  font-weight: 200;
  background-color: #9dc6ce;
}

button {
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05); 
}

select {
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border-color: lightgray;
  margin-left: 10px;
}

input {
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid lightgray;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.task-card {
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out; 
}

.task-card:hover {
  transform: scale(1.05); 
}

.task-content p {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.task-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.task-actions button {
  background-color: #3992a1;
  color: white;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.task-actions button:hover {
  background-color: rgb(54, 130, 150);
}

.task-actions button:last-child {
  background-color: rgb(209, 98, 98);
}

.task-actions button:last-child:hover {
  background-color: #e05050;
}
